@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

table#dataTable {
    table-layout: fixed;
    word-wrap: break-word;
}

body {
    font-family: Arial, serif;
}

.doctorInfo {
    border-bottom: 1px solid sandybrown;
}

a {
    cursor: pointer;
}

.content {
    padding-top: 50px;
    border-radius: 6px;
    background-color: azure;
}

.navbar-brand {
    padding: 0;
    padding-right: 30px;
}

.error, .message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.message {
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}

form {
    margin-bottom: 0;
}